- content_for :modal_header do
  Nápověda k oblasti tréninků
%dl.dl-help
  #sign_in_time
    %dt Přihlášení je možné do
    %dd Datum, do kterého se může hráč přihlásit pomocí systému. Po překročení tohoto času může přihlášení provést pouze :head_coach a nebo vlastník tréninkové hodiny.

  #excuse_time
    %dt Omluvení je možné do
    %dd Datum, do kterého se může hráč odhlásit pomocí systému. Po překročení tohoto času může odhlášení provést pouze <i>:head_coach</i>, <i>vlastník tréninkové hodiny</i> a <i>administrátor</i>.

  #calculation
    %dt Metoda výpočtu ceny hráče
    %dd
      Výpočet je proveden po doplnění docházky hráčů na tréninku. Vypočtené částky je možné dodatečně upravit.
      %ul
        %li <b>fixed_player_price</b> - Každému hráči bude počítána částka z pole <i>"Cena hráče bez DPH"</i> + příslušná daň.
        %li
          <b>split_the_costs</b> - <i>Cena za skupinu bez DPH</i> + příslušná daň bude rozdělena mezi hráče se stavem docházky <b>:present</b> a <b>:unexcused</b>.
        %li <b>fixed_player_price_or_split_the_costs</b> Zvolí se vyšší částka z předchozích 2 metod kalkulace.

  #is_open
    %dt Jakýkoliv registrovaný uživatel se může přihlásit?
    %dd Na tréninkovou hodinu se může přihlásit libovolný registrovaný člen. Tuto volbu používejte s rozvahou. Vhodné zejména pro volně vypisovaná školení a ukázkové lekce.

  #player_count_limit
    %dt Max. počet hráčů k přihlášení
    %dd Maximální počet hráčů, který se může samostatně přihlásit na hodinu. Po vyčerpání limitu může další uživatele přidávat pouze <i>:head_coach</i>, <i>vlastník tréninkové hodiny</i> a <i>administrátor</i>.

  #scheduled_lesson_user
    %dt Uživatel
    %dd Vlastník tréninkové hodiny. Jako <i>administrator</i> můžete vlastníka libovolně zvolit.

  #odd_week
    %dt Lichý týden
    %dd Tréninková hodina se koná v lichý týden

  #odd_week
    %dt Sudý týden
    %dd Tréninková hodina se koná v sudý týden

  #before_start_sign_in_time_limit
    %dt Časový limit před tréninkem pro přihlášení
    %dd Čas před začátkem tréninkové hodiny, do kterého se lze přihlásit.

  #before_start_excuse_time_limit
    %dt Časový limit před tréninkem pro omluvy
    %dd Čas před začátkem tréninkové hodiny, do kterého se lze omluvit.

  #percentage_of_presence_realized_lessons
    %dt Procentuální účast na uskutečněných tréninkových hodinách
    %dd Vyjadřuje procentuální účast (hráč fyzicky přítomen) ze všech realizovaných hodin v rámci tréninku.