// import the CSS framework
@import "bootstrap";

.bigger{
  font-size: 1.5em;
}
/*
  NEW LABEL COLORS
*/
.label-light-grey{background-color: #C0C0C0}
.label-mid-grey{background-color: #A0A0A0}
.label-grey{background-color: #808080}
.label-dark-grey{background-color: #606060}

span.email-guess{
  cursor: pointer !important;
  margin: 0 3px;
}

#action-box{
  margin: 3px 0;
  padding: 7px 2px;
}

table.table{
  &.condensed{
    td, th{ padding: 3px; }
  }
  &.table-striped > tbody > tr:nth-child(odd) > td, &.table-striped > tbody > tr:nth-child(odd) > th{
    background-color: #f0f0f0;
  }
}

.nav-tabs-custom{
  .tab-content{
    padding: 5px;
  }
  ul.nav.nav-tabs{
    a.btn-success{
      background-color: #00a65a !important;
      border-color: #008c4c !important;
      &:active, &:hover{
        background-color: #008c4c !important;
      }
    }
  }
}

h1,h2,h3,h4,h5,h6{
  clear: both;
}

.box .box-header {
  h1,h2,h3{ clear: right}
}

dl.dl-help dd{
  margin-bottom: 0.7em;
}

.rotate90{
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}


span.positive{ color: #139833
}
span.negative{ color: #d11802
}
span.neutral{ color: darkgray }
