// import the CSS framework
@import "bootstrap";

.bigger{
  font-size: 1.5em;
}

span.email-guess{
  cursor: pointer !important;
  margin: 0 3px;
}

#action-box{
  margin: 3px 0;
  padding: 7px 2px;
}

table.table{
  &.condensed{
    td, th{ padding: 3px; }
  }
  &.table-striped > tbody > tr:nth-child(odd) > td, &.table-striped > tbody > tr:nth-child(odd) > th{
    background-color: #f0f0f0;
  }
}

.nav-tabs-custom{
  .tab-content{
    padding: 5px;
  }
  ul.nav.nav-tabs{
    a.btn-success{
      background-color: #00a65a !important;
      border-color: #008c4c !important;
      &:active, &:hover{
        background-color: #008c4c !important;
      }
    }
  }
}

h1,h2,h3,h4,h5,h6{
  clear: both;
}

