%aside.left-side.sidebar-offcanvas
  / sidebar: style can be found in sidebar.less
  %section.sidebar
    / Sidebar user panel
    .user-panel
      .pull-left.image
        = image_tag current_user.avatar.small.url, class: 'img-circle', alt: "#{current_user.name} avatar img"
      .pull-left.info
        %p= t('template.left_sidebar.greetings', user: current_user.name)
        %a{href: "#"}
          %i.fa.fa-circle.text-success
          Online
    / search form
    -#
      %form.sidebar-form{action: "#", method: "get"}
        .input-group
          %input.form-control{name: "q", placeholder: "Search...", type: "text"}/
          %span.input-group-btn
            %button#search-btn.btn.btn-flat{name: "seach", type: "submit"}
              %i.fa.fa-search
    / sidebar menu
    = AdvancedMenu::Menu.render(current_user, controller_name, action_name)
