%aside.left-side.sidebar-offcanvas
  / sidebar: style can be found in sidebar.less
  %section.sidebar
    / Sidebar user panel
    .user-panel
      .pull-left.image
        %img.img-circle{alt: "User Image", src: "img/avatar3.png"}/
      .pull-left.info
        %p Hello, User
        %a{href: "#"}
          %i.fa.fa-circle.text-success
          Online
    / search form
    %form.sidebar-form{action: "#", method: "get"}
      .input-group
        %input.form-control{name: "q", placeholder: "Search...", type: "text"}/
        %span.input-group-btn
          %button#search-btn.btn.btn-flat{name: "seach", type: "submit"}
            %i.fa.fa-search
    / sidebar menu
    = AdvancedMenu::Menu.render(current_user, controller_name, action_name)
